* {
    font-family: "Poppins", sans-serif;
}
.banner{
    background-image: url(../img/slide.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px;
}

.skills-padding{
    padding: 30px;
}

